/* CSS RESET BY DIGITAL OCEAN */
html {
  box-sizing: border-box;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* CSS RESET BY DIGITAL OCEAN */

body {
  /*! Delete this later !*/
  background-color: black;
  color: white;
  /*! Delete this later !*/

  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "selected"
    "other-weather";
}

.selected-weather {
  grid-area: selected;
  display: flex;
  gap: 20vw;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  /* outline: auto orange; */
}

.weather-week {
  grid-area: other-weather;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  font-size: 3rem;
  flex-wrap: wrap;
  margin: 2rem;
  /* outline: auto blue; */
}

.weather-day {
  flex: 0 1 10rem;
  outline: auto red;
  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.current-day-weather {
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gif-container img {
  min-width: 100px;
  min-height: 100px;
  border: 3px solid black;
  object-fit: contain;
}
